<!DOCTYPE html>
<html>
<head>
  <title>Schemagery</title>
  <%= stylesheet_link_tag    "schemagery/application", media: "all" %>
  <%= javascript_include_tag "schemagery/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
